<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>you ready to whatch some anime?</strong>
    <br>
    <br>
    <img src="https://as.com/meristation/imagenes/2020/02/25/noticias/1582633440_968479_1582633536_noticia_normal.jpg" height="300" width="400"/>
  </div>
</ion-content>
